 /* .mainbutton {
    background-color:rgb(81, 175, 160);
    font-size: 25px;
    text-align: end;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 0;
    color:#ffff;
}  */
a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(36, 172, 149);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color:#ffff;
}

.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
}
.nav {
    margin-bottom: 0px;
}
body{
    background-color: rgb(223, 222, 222);
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding:10px;
 }

 .nav-link,
 .navbar-brand {
     color: #fff;
     cursor: pointer;
 }
 .nav-link {
     margin-right: 1em !important;
 }
 .nav-link:hover {
     color: #000;
 }
 .navbar-collapse {
     justify-content: flex-end;
 }
