 /* .mainbutton {
    background-color:rgb(81, 175, 160);
    font-size: 25px;
    text-align: end;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 0;
    color:#ffff;
}  */
a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(19, 177, 150);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color:#ffff;
}

.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
}
.nav {
    margin-bottom: 0px;
}
body{
    background-color: #ffff;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding:10px;
 }
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(36, 172, 149)
    font-weight: bold;
}

.nav-link,
.navbar-brand {
     color: #fff;
     cursor: pointer;
 }
/* .nav-link {
     margin-right: 1em !important;
 } */
.nav-link:hover {
     color: #000;
 }
.navbar-collapse {
     justify-content: flex-end;  
 }

.col-md-12{
    padding-top: 10%; 
    padding-bottom: 5%;
    background-color: #ffff;
    height : 95%;
 }
.container {
    padding: 40px; 
    background-color: rgb(221, 215, 215);
    padding-top:60px;
    padding-left:60px;
 }
.row.borders{
    display: inline-flex;
    width: 100%;
}